BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; PADDING-TOP: 0px; FONT-FAMILY: "Arial", "", "???"; BACKGROUND-COLOR: #ffffff
}
.txt01 {
	LINE-HEIGHT: 120%
}
.txt02 {
	LINE-HEIGHT: 170%
}
.text01 {
	LETTER-SPACING: -1px
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: "Arial", "??", "???"
}
A:link {
	COLOR: #818181; TEXT-DECORATION: none
}
A:visited {
	COLOR: #818181; TEXT-DECORATION: none
}
A:active {
	COLOR: #006699; TEXT-DECORATION: none
}
A:hover {
	COLOR: #333333; TEXT-DECORATION: none
}
.a01:link {
	COLOR: #666666; TEXT-DECORATION: none
}
.a01:visited {
	COLOR: #818181; TEXT-DECORATION: none
}
.a01:active {
	COLOR: #006699; TEXT-DECORATION: none
}
.a01:hover {
	COLOR: #818181; TEXT-DECORATION: none
}
.a02:link {
	COLOR: #404040; TEXT-DECORATION: none
}
.a02:visited {
	COLOR: #404040; TEXT-DECORATION: none
}
.a02:active {
	COLOR: #006699; TEXT-DECORATION: none
}
.a02:hover {
	COLOR: #818181; TEXT-DECORATION: none
}
.red:link {
	COLOR: #ee0000; TEXT-DECORATION: none
}
.red:visited {
	COLOR: #ee0000; TEXT-DECORATION: none
}
.red:active {
	COLOR: #ee0000; TEXT-DECORATION: none
}
.red:hover {
	COLOR: #ee0000; TEXT-DECORATION: none
}
.bodyleft {
	PADDING-LEFT: 30px
}
.input {
	BORDER-RIGHT: #cdcdcd 1px solid; BORDER-TOP: #cdcdcd 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #cdcdcd 1px solid; COLOR: #818181; BORDER-BOTTOM: #cdcdcd 1px solid; FONT-FAMILY: "??"; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
.input02 {
	BORDER-RIGHT: #cdcdcd 1px solid; BORDER-TOP: #cdcdcd 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #cdcdcd 1px solid; COLOR: #818181; BORDER-BOTTOM: #cdcdcd 1px solid; FONT-FAMILY: "??"; BACKGROUND-COLOR: #ffffff
}
.01boxleft {
	PADDING-LEFT: 5px; PADDING-TOP: 4px; HEIGHT: 23px
}
.01boxcenter {
	PADDING-TOP: 4px; HEIGHT: 23px; TEXT-ALIGN: center
}
.03boxleft {
	PADDING-LEFT: 5px; HEIGHT: 23px
}
.tb_faq {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.gray01 {
	FONT-SIZE: 9pt; COLOR: #7e7e7e; FONT-FAMILY: "??"
}
.gray02 {
	FONT-SIZE: 9pt; COLOR: #404040; FONT-FAMILY: "??"
}
.blue01 {
	FONT-SIZE: 9pt; COLOR: #7c97ce; FONT-FAMILY: "??"
}
.blue02 {
	FONT-SIZE: 9pt; COLOR: #4a72ab; FONT-FAMILY: "??"
}
.pink01 {
	FONT-SIZE: 9pt; COLOR: #c84f5c; FONT-FAMILY: "??"
}
.pink02 {
	COLOR: #e16e96; FONT-FAMILY: "YDIWebDotum"
}
.purple01 {
	FONT-SIZE: 11px; COLOR: #8a5ead; FONT-FAMILY: "YDIWebDotum"
}
.purple02 {
	FONT-SIZE: 11px; COLOR: #f3ebf9; FONT-FAMILY: "YDIWebDotum"
}
.purple03 {
	FONT-SIZE: 11px; COLOR: #9a82e1; FONT-FAMILY: "YDIWebDotum"
}
.purple03 {
	FONT-SIZE: 12px; COLOR: #7c5dba; FONT-FAMILY: "??"
}
.purple04 {
	FONT-SIZE: 8pt; COLOR: #c6a2db; FONT-FAMILY: "YDIWebDotum"
}
.red01 {
	FONT-SIZE: 12px; COLOR: #ee0000; FONT-FAMILY: "??"
}
.b {
	FONT-WEIGHT: bold; FONT-FAMILY: "Arial", "??", "???"
}
.line {
	FONT-FAMILY: "Arial", "??", "???"; TEXT-DECORATION: underline
}
.word {
	WORD-SPACING: -1px; FONT-FAMILY: "Arial", "??", "???"
}
